body
{
    
    background-repeat: repeat;
    background-size: 100%;
    
    background-image: url(https://i.ibb.co/F8MrBSp/foodie-backgrnd8.jpg);
    
}

header{
    background-color: brown;
    width: 100%;
    height: 50px;
}

.in_header
{
    height:40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:1%;
    margin-left: 1%;
    width:3%;
    float:right;
}



#head_img
{
    margin-top: 0px;
    width: 100%;
    height:300px;
    background-image: url(https://i.ibb.co/BwkLSwg/foodie-backgrnd4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    display:inline-block;
    

}

#heading
{
  
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-left:20%;
    margin-top: 75px;;
    color: rgb(240, 55, 9);
    display: inline-block;
    
    float:left;
    
}

#catch_phrase
{
    margin-left: 25%;
    display: inline-block;
    font-size: 40px;
    color:rgb(255, 230, 0);
    font-style: italic;
    
 
}

#box
{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    width:17%;
    height:150px;
    display: inline-block;
    margin-top:75px;
    margin-bottom: 10px;
    margin-left:2%; 
    margin-right: 10%;
    box-shadow: 7px 7px 7px;
    border-radius: 20px;
    float:right;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: azure;
    border: 2px;
    border-color: black;
    border-style: groove;
 
  
}

#logo
{
    
    width:15%;
    height:150px;
    margin-top: 40px;

 
    float:left;
    
   
}

#main_part
{
   
    width: 100%;
    height: 1200px;
    display: inline-block;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);

}

#help
{
    display: inline-block;
    margin-left: 7%;
    width:23%;
    height:710px;
    background-color: rgb(243, 106, 106);
    margin-top: 150px;
    border-radius: 10px;
    box-shadow: 10px 10px 7px;
    float: left;
}

#help_head
{
    display: block;
    font-size: 35px;
    font-weight:bold;
  
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
}

.help_headings
{
    display: block;
    margin-left: 5%;
    font-size: 23px;
    font-weight:bold;
    line-height: 5px;

}


.opt
{
    line-height: 25px;
    display: block;
    margin-left: 15%;
    font-size: 20px;
    font-weight: 700;
}
#card_holder
{
    border: black;
   
    height: 1010px;
    width:55%;
    display: inline-block;
    float: left;
    margin-left:5%;
    margin-right: 7% ;
    margin-top: 65px;
}

.card
{
    background-color: rgb(255, 194, 194);
    width:98%;
    height:300px;
    display: inline-block;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:2%;
    box-shadow: 15px 15px 10px;
    border-radius: 20px;
}

.card_pic
{
    width:40%;
    height:300px;
    float:left;
   
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;

}

.card_content
{
    width:60%;
    height:280px;
    float:left;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;

}

.card_heading
{
    font-size: 30px;
    color:black;
    font-weight: bold;
    text-align: center;
    width:100%;
    
}

.card_qoute
{
    font-size: 20px;
    color:black;
    font-weight: bold;
    margin-left: 2%;
    width:98%;
}

.card_features
{
    display:block;
    font-size:22px;
    color:black;
    font-weight: bold;
    width:98%;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

address{
    font-size: 20px;
    color:black;
    font-weight: bold;
    margin-left: 2%;
    width:98%;
}

.btn
{
    text-align:center;
    display:block;
    font-size:21px;
    color:black;
    font-weight: bold;
    width:30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5px;
    margin-bottom: 5px; 
    background-color:rgb(255, 194, 194);
    border: 0px;
}

.btn2
{
    text-align:center;
    display:block;
    font-size:30px;
    color:black;
    font-weight: bold;
    width:30%;
    height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25px;
    margin-bottom: 25px; 
    background-color:rgb(243, 106, 106);
    border: 0px;
    border-radius: 50%;
}

footer{

        background-color: brown;
        width: 100%;
        height: 70px;
        text-align: center;
        color: bisque;
        font-size: 30px;
 
    
}